
.body{
  display: flex;
  flex-direction: row;
  height: 100vh;
  /* overflow-x: hidden; */
  /* overflow-y: auto !important; */
  
}
.sidebar{
  border-right: 1px solid #e5e7eb; /* Tailwind's gray-200 */
  padding: 1rem;
  /* overflow-y: scroll !important; */
  background-color: #ffffff; /* White background */
  width: 30vw;
}
.mainBody{
  flex: 2;
  padding: 1.5rem;
  /* overflow-y: auto; */
  background-color: #f9fafb; /* Tailwind's gray-50 */
  width: 60vw;
}